
.book-button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vrbo  {
    background-color: rgb(2, 83, 126);
}

.book-button-group > * {
    margin-right: 1rem;
}

.book-button-group > *:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 769px){
    .book-button-group {
        flex-direction: column;
    }

    .book-button-group > *{
        margin: 0 0 1rem 0;
    }
}
